name: CI

on:
  pull_request:
    types: [opened, reopened]
    paths-ignore:
      - '**.md'
  push:
    branches:
      - '**'
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' || (!github.event.pull_request.draft && !github.event.pull_request.head.repo.fork)}}
    strategy:
      matrix:
        script: [check_code.sh, tests.sh]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
          architecture: 'x64'

      - name: Install Poetry
        uses: snok/install-poetry@v1.3.3
        with:
          version: 1.2.2
          virtualenvs-in-project: false
          virtualenvs-path: ~/.virtualenvs

      - name: Upgrade pip
        run: |
          poetry run pip install --upgrade pip

      - name: Load cached venv
        uses: actions/cache@v2
        with:
          path: ~/.virtualenvs
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install Dependencies
        run: poetry install

      - name: Run ${{ matrix.script }}
        run: bash scripts/${{ matrix.script }}
